# Ignore node_modules if using npm later
node_modules/

# Ignore environment/config files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Firebase emulators (if used)
.firebase/

# VS Code specific
.vscode/

